table {
    border-collapse: collapse;
    width: 450px;
    height: 250px;
}

table td {
    border: 1px solid #333;
    width: 20px;
    height: 20px;
    text-align: center;
}

.noselect {
	color: #555;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.green{
    background-color: chartreuse;
}

.keys{
    border-collapse: collapse;
    width: 450px;
    height: 70px;
}
