#field td {
	width: 50px;
	height: 50px;
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
}

.red {
	background: red;
}
.green {
	background: green;
}
.blue {
	background: blue;
}
.black {
	background: black;
}
.yellow {
	background: yellow;
}