table {
    border-collapse: collapse;
    width: 300px;
    height: 150px;
}

table td {
    border: 1px solid #333;
    width: 20px;
    height: 20px;
}

img{
    width: 200px;
}

.hidden{
    display: none;
}