.hidden{
    display: none;
}

table {
    border-collapse: collapse;
    width: 500px;
    height: 300px;
}

td {
	width: 50px;
	height: 50px;
	border: 1px solid black;
}

.colorRad{
    background-color: brown;
}

.colorGreen{
    background-color: olive;
}

.colorGray{
    background-color: slategrey;
}
